<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
  <a class="button" href="doc/Resume_FrankHsu.pdf" target="_blank">
    <i class="fa fa-download"></i>
    Download Resume
  </a>
</div>
<div class="user-details">
  <h1>Portfolio</h1>
  <div class="row">
    <article class="col-4 col-12-xsmall work-item">
      <a href="https://hackmd.io/51XmayXpSGewMbvboX04vA" target="_blank" class="img fit thumb">

        <img src="img/BMS.GIF" style="width: 60%;">

        <h3> BMS Board</h3>
      </a>
    </article>
    <article class="col-4 col-12-xsmall work-item">
      <a href="https://hackmd.io/U042mLE1RPuU4Wd9EsLZFA" target="_blank">
        <img src="img/Ov7670.jpg">
        <h3> OV7670 Drive</h3>
      </a>
    </article>
    <article class="col-4 col-12-xsmall work-item">
      <a href="https://hackmd.io/Dx05EYfXRTy_b6Zoa_S_6w" target="_blank">
        <img src="img/waferrobot.png">
        <h3> Wafer Robot</h3>
      </a>
    </article>
  </div>
  <!-- <div class="row"> -->
    <!-- BMS -->
    <!-- <div class="column middle">
      <div class="containe_card"></div>
      <a href="https://hackmd.io/51XmayXpSGewMbvboX04vA" target="_blank">
        <div class="card">
          <div class="container_img">
            <img src="img/BMS.GIF" style="width: 60%;">
          </div>
          <div class="container">
            <h4><b>BMS Board</b></h4>
          </div>
        </div>
      </a>
    </div> -->

    <!-- OV7670 -->
    <!-- <div class="column middle">
      <a href="https://hackmd.io/U042mLE1RPuU4Wd9EsLZFA" target="_blank">
        <div class="card">
          <div class="containe_img">
            <img src="img/Ov7670.jpg" style="height: 50%;">
          </div>
          <div class="container">
            <h4><b>OV7670 Drive</b></h4>
          </div>
        </div>
      </a>
    </div> -->

    <!-- wafer robot -->
    <!-- <div class="column middle">
      <a href="https://hackmd.io/Dx05EYfXRTy_b6Zoa_S_6w" target="_blank">
        <div class="card">
          <div class="containe_img">
            <img src="img/waferrobot.png" style="height: 30%; border: 10% solid white;">
          </div>
          <div class="container">
            <h4><b>Wafer Robot</b></h4>
          </div>
        </div>
      </a>
    </div> -->
  <!-- </div> -->
</div>
<div class="user">
  <div class="tech">
    
  </div>
  </div>
  <div class="tech">
    <h2>Skills</h2>
    
    <p>Circuit design<br>C<br>Python<br>MATLAB<br></p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git<br>Solidworks<br>Altium designer<br>RSCAD</p>
  </div>
</div>
